
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

:root{
    --Light-red: hsl(356, 100%, 66%);
    --Very-light-red: hsl(355, 100%, 74%);
    --Very-dark-blue: hsl(208, 49%, 24%);
    --White: hsl(0, 0%, 100%);
    --Grayish-blue: hsl(240, 2%, 79%);
    --Very-dark-grayish-blue: hsl(207, 13%, 34%);
    --Very-dark-black-blue: hsl(240, 10%, 16%);
    --Very-dark-gray-blue: hsl(237, 17%, 21%);
    --Very-dark-desaturated-blue: hsl(237, 23%, 32%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    background-color: var(--Grayish-blue);
    min-height: 100vh;
}

header{
    background-color: var(--Light-red);
    height: 400px;
    width: 100%;
    border-radius: 1px 1px 1px 100px;
    background-image: url("../Additional-resources/images/bg-pattern-intro-mobile.svg");
    background-attachment: fixed;
    background-position: center;
    background-size: auto;
    background-origin: border-box;
    padding: 30px;
}

#First-Nav-Div{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

#Second-Nav-Div{
    display: flex;
    justify-content:flex-end;
}

